<body>
    <div class="terminos-container">
        <div class="terminos-hero-container">
            <h2 class="heading-terminos">Términos y Condiciones</h2>
            <p class="terminos-update">Última actualización: 16 de septiembre de 2025</p>
        </div>
        <div class="terminos">
            <h2 class="subheading-terminos">1. Aceptación de los términos</h2>
            <p class="paragraph-terminos">Al acceder y utilizar este sitio web/aplicación, usted acepta estar sujeto a los presentes Términos y Condiciones y a 
                todas las leyes y regulaciones aplicables. Si no está de acuerdo, le solicitamos que no utilice nuestros servicios.</p>
            <h3 class="subheading-terminos">2. Uso del servicio</h3>
            <p class="paragraph-terminos">El uso de AquaVision está destinado exclusivamente para fines informativos y de gestión de consumo de agua. 
                El usuario se compromete a no utilizar la plataforma con fines ilícitos, fraudulentos o que puedan dañar la infraestructura o la experiencia de otros usuarios.</p>
            <h3 class="subheading-terminos">3. Registro y cuentas de usuario</h3>
            <p class="paragraph-terminos">Para acceder a ciertas funcionalidades, el usuario deberá crear una cuenta. 
                El usuario es responsable de mantener la confidencialidad de sus credenciales y de todas las actividades realizadas bajo su cuenta.</p>
            <h3 class="subheading-terminos">4. Propiedad intelectual</h3>
            <p class="paragraph-terminos">Todos los contenidos, marcas, logotipos, diseños, interfaces y software de AquaVision son propiedad de AquaVision 
                o cuentan con licencias de uso. Está prohibida su copia, distribución o modificación sin autorización previa.</p>
            <h3 class="subheading-terminos">5. Limitación de responsabilidad</h3>
            <p class="paragraph-terminos">AquaVision no garantiza que el servicio esté libre de errores, interrupciones o fallas técnicas. 
                No seremos responsables por pérdidas o daños derivados del uso o imposibilidad de uso de la plataforma.</p>
            <h3 class="subheading-terminos">6. Modificaciones</h3>
            <p class="paragraph-terminos">Nos reservamos el derecho de actualizar o modificar estos Términos y Condiciones en cualquier momento. 
                Los cambios se publicarán en esta misma sección, y el uso continuado de la plataforma implicará la aceptación de los mismos.</p>
            <h3 class="subheading-terminos">7. Legislación aplicable</h3>
            <p class="paragraph-terminos">Estos Términos y Condiciones se rigen por las leyes de la República Argentina. Cualquier disputa será resuelta en los tribunales 
                competentes de la Ciudad Autónoma de Buenos Aires.</p>
        </div>
    </div>

</body>